/***** BASE STYLES *****/

body {
  font-family:'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}
#buy1, #buy2, #buy3 {
  height: 600px;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}
.half-width {
  width: 600px;
  margin: 0 auto;
  float: left;
}
.third-width {
  width:400px;
  margin: 0 auto;
  float: left;
}

/***** HEADER *****/

header {
  height: 800px;
  background:#99c9ff;
  background-size: cover;
}
header h1 {
  padding: 65px 0 65px 25px;
  font-size:30px;
  color:#400080;
}
nav {
  float: right;
  padding: 75px 25px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-transform:uppercase;
  text-decoration: none;
  font-size:24px;
  color:#828282;
  padding-left:15px;
}
header h2 {
  width: 1000px;
  clear:both;
  font-size:72px;
  line-height:80px;
  color:#9b9b9b;
  padding: 20px 0 20px 25px;
}
header h2 span {
  color:#2b2b2b;
}

/***** BUY 1 *****/

#buy1 .full-width {
  padding: 80px 0;
}
#buy1 h2 {
  font-family:'Lora',serif;
  font-size:42px;
  padding-left: 20px;
}
#buy1 p {
  font-size:30px;
  color:#7F7F7F;
  line-height:40px;
  padding-left:20px;
  padding-right:30px;
}

/*****BUY 2 *****/

}
#buy2 .full-width {
  background: #F9CEB7;
  text-align:center;
  padding:115px 0;
}
#buy2 img {
  padding-bottom: 30px;
}
#buy2 h2 {
  font-size:42px;
  line-height:32px;
  width:190px;
  margin: 0 auto;
}
#buy2 p {
  font-family:'Lora',serif;
  font-size:30px;
  line-height:30px;
  padding: 0 50px;
}

/***** BUY 3 *****/

}
#buy3 .full-width {
  background: #EBEBEB;
  padding: 110px 0;
}
#buy3-img {
  margin-left: 25px;
  border: 12px solid white;
}
#buy3 h2 {
  font-family:'Lora', serif;
  font-size:42px;
  line-height:44px;
}
#buy3 p {
  font-family:'Lora',serif;
  font-size:30px;
  line-height:30px;
  padding: 0 50px;
}
